.category-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(100vh - var(--header-height));
    width: 100%;
    color: var(--fg);
    padding: 200px
}

.choice-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: 0.5s;
}

.choice-button:hover {
    flex: 2;
}

.choice-button span {
    font-size: 50px;
}

.choice-design {
    color: var(--design-primary);
    border:20px solid var(--design-primary);
}

.choice-web {
    color: var(--web-primary);
    border:20px solid var(--web-primary);
}

@media (max-width: 1000px) {
    .category-buttons {
        padding: 50px
    }
}

@media (max-width: 700px) {
    .category-buttons {
        flex-direction: column;
    }
}

@media (max-width: 300px) {
    .category-buttons {
        padding: 0px
    }
}
