@import "./vars.css";

@font-face {
    font-family: "Tenhunen";
    src: url("../assets/fonts/Tenhunen-Black.woff2");
}

@font-face {
    font-family: "Red Hat Text";
    src: url("../assets/fonts/RedHatText-VariableFont_wght.ttf");
}

:root {
    font-size: clamp(14px, 1.2vw, 18px);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    background-color: var(--primary-color);
    color: white;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

body, button {
    font-family: "Red Hat Text", sans-serif;
}

main {
    min-height: 100vh; /*So the footer won't float on the page*/
}

h2 {
    font-size: var(--h2-size);
}

h1, h2, h3, h4 {
    font-family: "Tenhunen";
    color: var(--primary-color);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: unset;
}
