.skills {
    --cell-size: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4em;
    margin: 10em 0;
    text-align: center;
    width: 100%;
}

.skill-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.skill-category-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    list-style-type: none;
}

.skill-heading {
    margin-bottom: 10px;
}

.web-skills-heading {
    color: var(--web-primary);
}

.design-skills-heading {
    color: var(--design-primary);
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    font-weight: 600;
    width: var(--cell-size);
    height: var(--cell-size);
}

.skill-html {
    background-color: #E34F26;
    color: white;
}

.skill-css {
    background-color: #1572B6;
    color: white;
}

.skill-javascript {
    background-color: #F7DF1E;
    color: #111111;
}

.skill-typescript {
    background-color: #2F74C0;
    color: white;
}

.skill-react {
    background-color: #20232A;
    color: #61DAFB;
}

.skill-photoshop {
    background-color: #001E36;
    color: #31A8FF;
}

.skill-illustrator {
    background-color: #FF9A00;
    color: white;
}

.skill-indesign {
    background-color: #47021E;
    color: #F73163;
}

.skill-figma {
    background-color: #1E1E1E;
    color: white;
}

.skill-blender {
    background-color: #E37200;
    color: #fefeff;
}

@media (max-width: 600px) {
    .skill-lists {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .skill-category-list {
        width: unset;
    }
}

