.skills {
    --icon-size: 60px;
    display: flex;
    flex-direction: column;
    gap: clamp(3em, 20vh, 6em);
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.skill-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: min(30%, 15em);
}

.skill-category-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    width: 20vw;
}

.skill-heading {
    margin-bottom: 10px;
}

.web-skills-heading {
    color: var(--web-primary);
}

.design-skills-heading {
    color: var(--design-primary);
}

.skill {
    padding: 4px 10px;
    font-weight: 600;
    border-radius: 4px;
}

.skill-html {
    background-color: #E34F26;
    color: white;
}

.skill-css {
    background-color: #1572B6;
    color: white;
}

.skill-javascript {
    background-color: #F7DF1E;
    color: #111111;
}

.skill-typescript {
    background-color: #2F74C0;
    color: white;
}

.skill-react {
    background-color: #20232A;
    color: #61DAFB;
}

.skill-photoshop {
    background-color: #001E36;
    color: #31A8FF;
}

.skill-illustrator {
    background-color: #FF9A00;
    color: white;
}

.skill-indesign {
    background-color: #47021E;
    color: #F73163;
}

.skill-figma {
    background-color: #1E1E1E;
    color: white;
}

@media (max-width: 600px) {
    .skill-lists {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .skill-category-list {
        width: unset;
    }
}

