.project-tile {
    text-align: center;
    user-select: none;
}

.img-anchor {
    position: relative;
}

.view-project {
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--fg);
    right: 10%;
    bottom: 40px;
}

.project-tile img {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin: 20px 0;
    transition: 0.2s;
    width: 100%;
    height: auto;
}

.visual-showcase {
    transition: 0.2s;
}

.visual-showcase:hover {
    transform: scale(1.05);
}

.view-project {
    transition: 0.2s;
}

.visual-showcase .view-project:hover {
    transform: scale(1.05);
}

.project-tile h3 {
    font-size: 1.4rem;
}
