.project-tile {
    text-align: center;
    user-select: none;
}

.project-tile img {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin: 20px 0;
    transition: 0.2s;
    width: 100%;
    height: auto;
}

.project-tile img:hover {
    transform: scale(1.05);
}

.project-tile h3 {
    font-size: 1.4rem;
}
