header {
    color: var(--header-fg);
    display: flex;
    align-items: center;
    position: sticky;
    background-color: var(--primary-color);
    top: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 2;
    font-size: 1rem;
    font-weight: 500;
}

.header-logo {
    margin: auto 0;
    margin-left: 20px;
}

.header-logo svg{
    height: 40px;
    width: auto;
    fill: var(--header-fg);
}

.header-logo path {
  fill: transparent;
  stroke: var(--header-fg);
  transition: 2s;
  animation: logo-appear 3s ease forwards;
}

.nav-bar {
    margin-left: auto;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    list-style: none;
    gap: min(20px, 1vw);
    margin: 0 20px;
    background-color: var(--primary-color);
}

.nav-bar a {
    margin-left: 10px;
}

#contact {
    border: 2px solid var(--bg);
    padding: 10px;
    background: linear-gradient(45deg, transparent 40%,rgba(255, 255, 255, 0.637) 50%, transparent 60%);
    background-size: 700% 700%;
    background-position: 0% 0%;
    transition: background-position 0.5s;
}

#contact:hover {
    background-position: 100% 100%;
}

@keyframes logo-appear {
    70% {
        fill: transparent;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill: var(--header-fg);
    }
}
