footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: underline;
    padding: 50px 40px;
    background-color: var(--primary-color);
    color: var(--header-fg);
    min-height: var(--header-height);
    font-weight: 400;
}

footer hr {
    width: 50%;
}

.footer-logo {
    width: 40px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.footer-logo:hover {
    transform: scale(0.9);
}
