.banner {
    text-align: center;
    font-size: clamp(2em, 4vw, 4rem);
}

.banner p {
    text-align: center;
    font-size: 1.2rem;
    opacity: 0.8;
}

.heading {
    opacity: 0;
    transform: translateY(5px);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: min(4rem, max(12vw, 40px));
    color: var(--primary-color);
    transition: transform 0.8s;
}

h1.active {
    transform: translateY(0px);
    opacity: 1;
}
